interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.ashbyhq.com/posting-api/job-board/ashby?includeCompensation=true
  response:
    body:
      string: "{\"jobs\":[{\"id\":\"7458d4e9-da2e-47bd-98cb-adfda43d42b2\",\"title\":\"Engineering
        Manager, EU\",\"department\":\"Engineering\",\"team\":\"EMEA Engineering\",\"employmentType\":\"FullTime\",\"location\":\"Remote
        - European Union\",\"shouldDisplayCompensationOnJobPostings\":true,\"secondaryLocations\":[{\"location\":\"Romania\",\"address\":{\"postalAddress\":{\"addressRegion\":\"\",\"addressCountry\":\"Romania\",\"addressLocality\":\"\"}}},{\"location\":\"Switzerland\",\"address\":{\"postalAddress\":{\"addressRegion\":\"\",\"addressCountry\":\"Switzerland\",\"addressLocality\":\"\"}}},{\"location\":\"Spain\",\"address\":{\"postalAddress\":{\"addressRegion\":\"Spain\",\"addressCountry\":\"Spain\",\"addressLocality\":\"Spain\"}}},{\"location\":\"Italy\",\"address\":{\"postalAddress\":{\"addressRegion\":\"\",\"addressCountry\":\"Italy\",\"addressLocality\":\"\"}}},{\"location\":\"Sweden\",\"address\":{\"postalAddress\":{\"add[...]
