interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.rippling.com/platform/api/ats/v1/board/eurasia-group/jobs
  response:
    body:
      string: "[{\"uuid\":\"adf902c0-147e-4346-bccb-dfc20e8ed63b\",\"name\":\"Associate
        Director, Japan\",\"department\":{\"id\":\"Corporates\",\"label\":\"Corporates\"},\"url\":\"https://ats.rippling.com/eurasia-group/jobs/adf902c0-147e-4346-bccb-dfc20e8ed63b\",\"workLocation\":{\"label\":\"Tokyo,
        Japan\",\"id\":\"Tokyo, Japan\"}},{\"uuid\":\"d577fd84-5065-4c45-9ed0-e66ab0edd66d\",\"name\":\"Associate
        Director, Office of the President\",\"department\":{\"id\":\"Office of the
        President\",\"label\":\"Office of the President\"},\"url\":\"https://ats.rippling.com/eurasia-group/jobs/d577fd84-5065-4c45-9ed0-e66ab0edd66d\",\"workLocation\":{\"label\":\"New
        York, NY\",\"id\":\"New York, NY\"}},{\"uuid\":\"d577fd84-5065-4c45-9ed0-e66ab0edd66d\",\[...]
